{% extends 'main_app/base.html' %}

{% block content %}
<div class="splash">
    <div class="splash-img">
        <picture>
            <source media="(min-width: 992px)"
                srcset="https://espana-portfolio.s3.us-west-1.amazonaws.com/lg-heres-johnny.avif" />
            <source media="(min-width: 768px)"
            srcset="https://espana-portfolio.s3.us-west-1.amazonaws.com/md-heres-johnny.avif" />
            <img src="https://espana-portfolio.s3.us-west-1.amazonaws.com/xs-heres-johnny.avif"
                alt="The Shining, here's Johnny">
        </picture>
    </div>
    <div class="splash-content">
        <div class="splash-title">
            <h1>jonny espana</h1>
        </div>
        <div class="splash-subtitle">
            <h3>full-stack</h3>
            <h3>software developer</h3>
        </div>
    </div>
</div>
<div class="who">
    <div class="who-media">
        <div class="who-img">
            <img src="https://espana-portfolio.s3.us-west-1.amazonaws.com/jon_headshot.jpeg">
        </div>
    </div>
    <div class="who-content">
        <p>I'm a Full-stack Software Developer and UX/UI enthusiast! Building practical and polished digital experiences.  Recently collaborating with Gem Nightclub, a staple in the Salt Lake City's nightlife.  Worked to co-found SweepApp, Inc. and revolutionize the cleaning industry <a href="https://www.techbuzz.news/sweep-launches-a-gig-app-for-cleaning-services/">(checkout TechBuzz's article)</a>.</p>
    </div>
</div>

{% endblock content %}