{% extends 'main_app/base.html' %}

{% block content %}
<h1>Jonathan España</h1>
<h3>Creative Full-stack Software Engineer & Designer</h3>
<p>
    bridging the gap in style and function, to create efficient and immersive user experiences.
</p>
<p>
    Striking balance between aesthetics and functionality to create rich user experiences.
</p>
<p>
    I am a full stack software engineer with over three years of experience.  I've cross-functional teams in the development of high-quality solutions under tight deadlines as a Technical Lead.  As a developer I thrive on challenges and am dedicated to delivering effective and elegant software solutions.
</p>
{% endblock content %}